<template>
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="
            relative
            flex flex-col
            min-w-0
            break-words
            w-full
            mb-6
            shadow-lg
            rounded-lg
            bg-blueGray-200
            border-0
          "
        >
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>Reset Password</small>
            </div>
            <form
              v-if="!status"
              @submit.prevent="reset"
              @keydown="form.onKeydown($event)"
            >
              <div class="mb-6">
                <label class="font-bold text-gray-700 select-none" for="email"
                  >Email address</label
                >
                <input
                  id="email"
                  v-model="form.email"
                  :class="{ invalid: form.errors.has('email') }"
                  class="form-input block w-full text-gray-800 mt-2"
                  name="email"
                  type="email"
                />
                <has-error
                  class="text-sm text-red-500 font-semibold mt-2"
                  :form="form"
                  field="email"
                />
              </div>

              <div class="mb-8">
                <label
                  class="font-bold text-gray-700 select-none"
                  for="password"
                  >New password</label
                >
                <input
                  id="password"
                  v-model="form.password"
                  :class="{ invalid: form.errors.has('password') }"
                  class="form-input block w-full text-gray-800 mt-2"
                  name="password"
                  type="password"
                  placeholder="Min. 6 characters"
                />
                <has-error
                  class="text-sm text-red-500 font-semibold mt-2"
                  :form="form"
                  field="password"
                />
              </div>

              <div>
                <v-button :loading="form.busy">
                  {{ $t("reset_password") }}
                </v-button>
              </div>
            </form>
            <div v-else class="text-center">
              <fa
                :icon="['far', 'check-circle']"
                class="text-teal-500 opacity-50 text-7xl mb-4"
              />
              <h1 class="text-3xl font-bold text-gray-800 leading-loose">
                Reset successful
              </h1>
              <h2 class="text-base font-medium text-gray-500">
                {{ status }}
              </h2>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap mt-6 relative">
          <div class="w-1/2">
            <router-link :to="{ name: 'login' }" class="text-blueGray-200">
              <small>Back to login</small>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "vform";

export default {
  middleware: "guest",
  layout: "basic",

  metaInfo() {
    return { title: this.$t("reset_password") };
  },

  data: () => ({
    status: "",
    form: new Form({
      token: "",
      email: "",
      password: "",
      password_confirmation: "",
    }),
  }),

  created() {
    this.form.email = this.$route.query.email;
    this.form.token = this.$route.params.token;
  },

  methods: {
    async reset() {
      const { data } = await this.form.post("/api/password/reset");

      this.status = data.status;

      this.form.reset();
    },
  },
};
</script>
