<template>
  <div class="flex flex-wrap mt-32">
    <div class="w-full mb-12 px-4">
      <card-settings
        :title="entry.title"
        :backRoute="'admin.user_groups'"
        :submitBtnTitle="'Submit'"
        :submitBtnClick="submitForm"
      >
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            User Group Information
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="grid-password"
                >
                  Title
                </label>
                <input
                  type="text"
                  class="
                    border-0
                    px-3
                    py-3
                    placeholder-blueGray-300
                    text-blueGray-600
                    bg-white
                    rounded
                    text-sm
                    shadow
                    focus:outline-none
                    focus:ring
                    w-full
                    ease-linear
                    transition-all
                    duration-150
                  "
                  :class="[errors && errors.title ? 'invalid' : '']"
                  @input="updateTitle"
                  :value="entry.title"
                />
                <input-error :errors="errors" :field="'title'" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="permissions"
                >
                  Permissions
                </label>
                <v-select
                  name="permissions"
                  label="title"
                  :key="'permissions-field'"
                  class="style-chooser"
                  :value="entry.permissions"
                  :options="lists.permissions"
                  @input="updatePermissions"
                  multiple
                  @search.focus="focusField('permissions')"
                  @search.blur="clearFocus"
                />
                <input-error :errors="errors" :field="'permissions'" />
              </div>
            </div>
          </div>
        </form>
      </card-settings>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faHandPointLeft } from "@fortawesome/free-solid-svg-icons";
import CardSettings from "../../../components/CardSettings.vue";
import 'vue-select/dist/vue-select.css';

library.add(faHandPointLeft);

export default {
  components: { CardSettings },
  name: "create-user-group",
  middleware: "auth",
  data() {
    return {
      status: "",
      activeField: "",
    };
  },
  computed: {
    ...mapGetters("RolesSingle", ["entry", "loading", "lists"]),
    errors() {
      return this.$store.getters['alert/errors'];
    }
  },
  created() {
    this.init();
  },
  beforeDestroy() {
    this.resetState();
  },
  methods: {
    ...mapActions("RolesSingle", [
      "storeData",
      "resetState",
      "setTitle",
      "setPermissions",
      "fetchCreateData",
    ]),
    async init() {
      await this.resetState();
      await this.fetchCreateData();
      console.log(this.lists);
    },
    updateTitle(e) {
      this.setTitle(e.target.value);
    },
    updatePermissions(value) {
      this.setPermissions(value);
    },
    submitForm() {
      this.storeData()
        .then(() => {
          this.$router.push({ name: "admin.user_groups" });
        })
        .catch((error) => {
          this.status = "failed";
          _.delay(() => {
            this.status = "";
          }, 3000);
        });
    },
    focusField(name) {
      this.activeField = name;
    },
    clearFocus() {
      this.activeField = "";
    },
  },
};
</script>