<template>
  <div class="flex flex-wrap mt-32">
    <div class="w-full mb-12 px-4">
      <div
        class="
          relative
          flex flex-col
          min-w-0
          break-words
          w-full
          mb-6
          shadow-lg
          rounded
        "
        :class="[color === 'light' ? 'bg-white' : 'bg-emerald-900 text-white']"
      >
        <div class="rounded-t bg-white mb-0 px-6 py-6">
          <div class="text-center flex justify-between">
            <input
              type="search"
              placeholder="by title"
              v-model="query.s"
              class="
                px-4
                py-2
                rounded-full
                border border-transparent
                focus:ring-2 focus:ring-purple-600
              "
            />
            <router-link
              class="
                bg-emerald-500
                hover:bg-emerald-900
                text-white
                active:bg-emerald-600
                font-bold
                uppercase
                text-xs
                px-4
                py-4
                rounded
                shadow
                hover:shadow-md
                outline-none
                focus:outline-none
                mr-1
                ease-linear
                transition-all
                duration-150
              "
              :to="{ name: 'admin.user_groups.create' }"
              v-if="$can('role_create')"
            >
              Add New
            </router-link>
          </div>
        </div>
        <table-list
          v-if="data && $can('role_access')"
          :columns="columns"
          :rows="data"
          :query="query"
          :paginateData="paginateData"
          :pageClick="pageClick"
        />
      </div>
    </div>
  </div>
</template>
<script>
import TableList from "../../../components/Datatable/TableList.vue";
import { mapGetters, mapActions } from "vuex";
import Swal from "sweetalert2";

export default {
  name: "user-group-list",
  middleware: "auth",
  components: { TableList },
  data() {
    return {
      columns: [
        {
          title: "cruds.role.fields.title",
          field: "title",
          sortable: true,
          route: "admin.user_groups.edit",
          type: "link",
        },
        {
          title: "global.actions",
          field: "actions",
          visible: true,
          actions: [
            {
              name: "edit",
              text: "Edit",
              click: this.editBtn,
              enable: this.hasEdit
            },
            {
              name: "delete",
              text: "Delete",
              click: this.deleteBtn,
              enable: this.hasDelete
            },
          ],
          type: "dropdown",
        },
      ],
      query: { limit: 10, offset: 0, sort: "id", order: "desc", s: "" },
      xprops: {
        module: "RolesIndex",
        route: "/api/admin/roles",
        permission_prefix: "role_",
      },
    };
  },
  props: {
    color: {
      default: "light",
      validator: function (value) {
        // The value must match one of these strings
        return ["light", "dark"].indexOf(value) !== -1;
      },
    },
  },
  beforeDestroy() {
    this.resetState();
  },
  computed: {
    ...mapGetters("RolesIndex", ["paginateData", "data", "total", "loading"]),
  },
  created() {
    this.init();
  },
  methods: {
    ...mapActions("RolesIndex", ["fetchIndexData", "setQuery", "resetState", "destroyData"]),
    async init() {
      await this.setColumnPermission()
      await this.setQuery(this.query);
      await this.fetchIndexData();
    },
    setColumnPermission() {
      let actionsIndex = _.findIndex(this.columns, { 'field': 'actions', 'visible': true });
      if(!actionsIndex) {
        return;
      }
      let editIndex = _.findIndex(this.columns[actionsIndex].actions, { 'name': 'edit' });
      let deleteIndex = _.findIndex(this.columns[actionsIndex].actions, { 'name': 'delete' });
      
      this.columns[actionsIndex].actions[editIndex].enable = this.$can('role_edit');
      this.columns[actionsIndex].actions[deleteIndex].enable = this.$can('role_delete');
    },
    pageClick(page) {
      this.query.offset = this.query.limit * page - this.query.limit;
      this.setQuery(this.query);
    },
    editBtn(id) {
      this.$router.push({ name: "admin.user_groups.edit", params: { id } });
    },
    deleteBtn(id) {

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          this.destroyData(id);
        }
      });
    },
  },
  watch: {
    query: {
      handler(query) {
        this.setQuery(query);
        this.fetchIndexData();
      },
      deep: true,
    },
  },
};
</script>