<template>
  <div>
    <div class="flex flex-wrap">
      
    </div>
    <div class="flex flex-wrap mt-4">
      
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
