<template>
  <div
    class="
      bg-white
      px-4
      py-3
      flex
      items-center
      justify-between
      border-t border-gray-200
      sm:px-6
    "
  >
    <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          {{ " " }}
          <span class="font-medium">{{ paginateData.from }}</span>
          {{ " " }}
          to
          {{ " " }}
          <span class="font-medium">{{ paginateData.to }}</span>
          {{ " " }}
          of
          {{ " " }}
          <span class="font-medium">{{ paginateData.total }}</span>
          {{ " " }}
          results
        </p>
      </div>
      <div>
        <nav
          class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
          aria-label="Pagination"
        >
          <template v-for="(link, index) in paginateData.links">
            <a
              @click="page(paginateData.current_page - 1)"
              v-if="index == 0"
              :key="'previous' + index"
              class="
                relative
                inline-flex
                items-center
                px-2
                py-2
                rounded-l-md
                border border-gray-300
                bg-white
                text-sm
                font-medium
                text-gray-500
                hover:bg-gray-50
                cursor-pointer
              "
            >
              <span class="sr-only">Previous</span>
              <font-awesome-icon icon="chevron-left" />
            </a>
            <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
            <a
              v-if="index != 0 && index != paginateData.links.length - 1"
              :key="'link_' + index"
              @click="page(index)"
              :aria-current="[link.active ? 'page' : '']"
              :class="[
                link.active
                  ? 'z-10 bg-indigo-50 border-emerald-500 text-emerald-600'
                  : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50',
              ]"
              class="
                relative
                inline-flex
                items-center
                px-4
                py-2
                border
                text-sm
                font-medium
                cursor-pointer
              "
            >
              {{ link.label }}
            </a>
            <a
              v-if="index == paginateData.links.length - 1"
              :key="'next' + index"
              @click="page(paginateData.current_page + 1)"
              class="
                relative
                inline-flex
                items-center
                px-2
                py-2
                rounded-r-md
                border border-gray-300
                bg-white
                text-sm
                font-medium
                text-gray-500
                hover:bg-gray-50
                cursor-pointer
              "
            >
              <span class="sr-only">Next</span>
              <font-awesome-icon icon="chevron-right" />
            </a>
          </template>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faChevronLeft,
  faChevronRight,
} from "@fortawesome/free-solid-svg-icons";

library.add(faChevronLeft);
library.add(faChevronRight);
export default {
  props: {
    paginateData: {
      type: Object,
      deafult: {},
    },
    pageClick: {
      type: Function,
    },
  },
  methods: {
    page(page) {
      if (page > this.paginateData.last_page || page === 0) {
        return false;
      } else {
        this.pageClick(parseInt(page));
      }
    },
  },
};
</script>