<template>
  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse table-auto">
      <thead>
        <tr>
          <th
            v-for="(col, index) in columns"
            :key="'col_' + index + '_' + col.name"
            class="
              px-6
              align-middle
              border border-solid
              py-3
              text-xs
              uppercase
              border-l-0 border-r-0
              whitespace-nowrap
              font-semibold
              text-left
            "
            :class="[
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-emerald-800 text-emerald-300 border-emerald-700',
            ]"
          >
            {{ $t(col.title) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-for="row in rows">
          <tr :key="'row_key' + row.id">
            <template v-for="(col, index) in columns">
              <th
                :key="'data_key_' + row.id + '_col_' + index"
                v-if="col.type === 'link'"
                class="
                  border-t-0
                  px-6
                  align-middle
                  border-l-0 border-r-0
                  text-xs
                  whitespace-nowrap
                  p-4
                  text-left
                  flex
                  items-center
                "
              >
                <router-link
                  v-if="hasEdit"
                  :to="{ name: col.route, params: { id: row.id } }"
                  class="
                    underline
                    hover:underline
                    text-green-500
                    hover:text-green-600
                    visited:text-green-500
                  "
                >
                  {{ row[col.field] }}
                </router-link>
                <template v-else>
                  {{ row[col.field] }}
                </template>
              </th>
              <td
                :key="'data_key_' + row.id + 'col_' + index"
                v-if="col.type === 'text'"
                class="
                  border-t-0
                  px-6
                  align-right
                  justify-center
                  border-l-0 border-r-0
                  text-xs
                  whitespace-nowrap
                  p-4
                "
              >
                {{ row[col.field] }}
              </td>
              <td
                :key="'data_key_' + row.id + 'col_' + index"
                v-if="col.type === 'dropdown'"
                class="
                  border-t-0
                  px-6
                  align-middle
                  border-l-0 border-r-0
                  text-xs
                  whitespace-nowrap
                  p-4
                "
              >
                <template v-for="(colAction,index) in col.actions">
                  <font-awesome-icon @click="editAction(row.id)" :key="'action_key'+index" v-if="colAction.name === 'edit' && hasEdit"  class="mx-1 cursor-pointer text-sm text-green-500" icon="edit" />
                  <font-awesome-icon @click="deleteAction(row.id)" :key="'action_key'+index" v-if="colAction.name === 'delete' && hasDelete"  class="mx-1 cursor-pointer text-sm text-red-500" icon="trash" />
                </template>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
    <pagination
    :paginateData="paginateData"
    :pageClick="pageClick"
     />
  </div>
</template>
<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faEdit, faTrash } from "@fortawesome/free-solid-svg-icons";
import Pagination from './Pagination.vue';

library.add(faEdit);
library.add(faTrash);

export default {
  components: { Pagination },
  name: "table-list",

  data() {
    return {
    };
  },
  props: {
    rows: {
      type: Array,
      deafult: () => [],
    },
    columns: {
      type: Array,
      deafult: () => [],
    },
    query: {
      type: Object,
      deafult: { sort: "id", order: "desc", limit: 100, s: "" },
    },
    paginateData: {
      type: Object,
      deafult: {},
    },
    pageClick: {
      type: Function
    },
    color: {
      default: "light",
      validator: function (value) {
        // The value must match one of these strings
        return ["light", "dark"].indexOf(value) !== -1;
      },
    },
  },
  computed : {
    hasEdit() {
      let actionObj = _.find(this.columns, { 'field': 'actions', 'visible': true });
      if(!actionObj) {
        return;
      }
      let editAction = _.find(actionObj.actions, [ 'name', 'edit' ]);
      console.log(editAction);
      return editAction.enable;
    },
    hasDelete() {
      let actionObj = _.find(this.columns, { 'field': 'actions', 'visible': true });
      if(!actionObj) {
        return;
      }
      let deleteAction = _.find(actionObj.actions, [ 'name', 'delete' ]);
      return deleteAction.enable;
    }
  },
  methods: {
    editAction(id) {
      let actionObj = _.find(this.columns, { 'field': 'actions', 'visible': true });
      if(!actionObj) {
        return;
      }
      let editAction = _.find(actionObj.actions, [ 'name', 'edit' ]);
      editAction.click(id);
    },
    deleteAction(id) {
      let actionObj = _.find(this.columns, { 'field': 'actions', 'visible': true });
      if(!actionObj) {
        return;
      }
      let deleteAction = _.find(actionObj.actions, [ 'name', 'delete' ]);
      deleteAction.click(id);
    }
  }
};
</script>