$form_main_color : #10B981;

.form-input.invalid {
  @apply bg-red-100 text-red-500 border-red-500;
}

.invalid {
  @apply bg-red-100 text-red-500 border-red-500;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #0000;
  text-transform: lowercase;
  font-variant: small-caps;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #FFF;
}

.style-chooser .vs__selected {
  display: flex;
  align-items: center;
  background-color: $form_main_color !important;
  border: 1px solid rgba(60,60,60,.26) !important;
  border-radius: 4px;
  color: #FFF;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 .25em;
  z-index: 0;
}

