<template>
  <div class="flex flex-wrap mt-32">
    <div class="w-full mb-12 px-4">
      <card-settings
        :title="entry.name"
        :backRoute="'admin.users'"
        :submitBtnTitle="'Submit'"
        :submitBtnClick="submitForm"
      >
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            User Information
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="grid-password"
                >
                  Name
                </label>
                <input
                  type="text"
                  class="
                    border-0
                    px-3
                    py-3
                    placeholder-blueGray-300
                    text-blueGray-600
                    bg-white
                    rounded
                    text-sm
                    shadow
                    focus:outline-none
                    focus:ring
                    w-full
                    ease-linear
                    transition-all
                    duration-150
                  "
                  :class="[errors && errors.name ? 'invalid' : '']"
                  @input="updateName"
                  :value="entry.name"
                />
                <input-error :errors="errors" :field="'name'" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="grid-password"
                >
                  Email address
                </label>
                <input
                  type="email"
                  class="
                    border-0
                    px-3
                    py-3
                    placeholder-blueGray-300
                    text-blueGray-600
                    bg-white
                    rounded
                    text-sm
                    shadow
                    focus:outline-none
                    focus:ring
                    w-full
                    ease-linear
                    transition-all
                    duration-150
                  "
                  :class="[errors && errors.email ? 'invalid' : '']"
                  @input="updateEmail"
                  :value="entry.email"
                />
                <input-error :errors="errors" :field="'email'" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="grid-password"
                >
                  Role
                </label>
                <v-select
                  name="roles"
                  label="title"
                  :key="'roles-field'"
                  class="style-chooser"
                  :value="entry.roles"
                  :options="lists.roles"
                  @input="updateRoles"
                  :clearable="false"
                  @search.focus="focusField('roles')"
                  @search.blur="clearFocus"
                />
                <input-error :errors="errors" :field="'roles'" />
              </div>
            </div>
            
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="
                    block
                    uppercase
                    text-blueGray-600 text-xs
                    font-bold
                    mb-2
                  "
                  htmlFor="grid-password"
                >
                  Password
                </label>
                <input
                  type="password"
                  class="
                    border-0
                    px-3
                    py-3
                    placeholder-blueGray-300
                    text-blueGray-600
                    bg-white
                    rounded
                    text-sm
                    shadow
                    focus:outline-none
                    focus:ring
                    w-full
                    ease-linear
                    transition-all
                    duration-150
                  "
                  :class="[errors && errors.password ? 'invalid' : '']"
                  @input="updatePassword"
                  :value="entry.password"
                />
                <input-error :errors="errors" :field="'password'" />
              </div>
            </div>
          </div>
        </form>
      </card-settings>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faHandPointLeft } from "@fortawesome/free-solid-svg-icons";
import CardSettings from "../../../components/CardSettings.vue";
import 'vue-select/dist/vue-select.css';

library.add(faHandPointLeft);

export default {
  components: { CardSettings },
  name: "create-user",
  middleware: "auth",
  data() {
    return {
      status: "",
      activeField: "",
    };
  },
  computed: {
    ...mapGetters("UsersSingle", ["entry", "loading", "lists"]),
    errors() {
      return this.$store.getters['alert/errors'];
    }
  },
  created() {
    this.init();
  },
  beforeDestroy() {
    this.resetState();
  },
  methods: {
    ...mapActions("UsersSingle", [
      "storeData",
      "resetState",
      "setName",
      "setEmail",
      "setPassword",
      "setRoles",
      "fetchCreateData",
    ]),
    async init() {
      await this.resetState();
      await this.fetchCreateData();
    },
    updateName(e) {
      this.setName(e.target.value);
    },
    updateEmail(e) {
      this.setEmail(e.target.value);
    },
    updatePassword(e) {
      this.setPassword(e.target.value);
    },
    updateRoles(value) {
      this.setRoles(value);
    },
    submitForm() {
      this.storeData()
        .then(() => {
          this.$router.push({ name: "admin.users" });
        })
        .catch((error) => {
          this.status = "failed";
          _.delay(() => {
            this.status = "";
          }, 3000);
        });
    },
    focusField(name) {
      this.activeField = name;
    },
    clearFocus() {
      this.activeField = "";
    },
  },
};
</script>