<template>
  <div
    class="
      relative
      flex flex-col
      min-w-0
      break-words
      w-full
      mb-6
      shadow-lg
      rounded-lg
      bg-blueGray-100
      border-0
    "
  >
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="text-center flex justify-between">
        <div class="flex justify-start items-center">
          <router-link :to="{ name: backRoute }">
            <font-awesome-icon
              class="cursor-pointer text-green-600 text-4xl font-bold"
              icon="chevron-left"
            />
          </router-link>
          <h6 class="text-blueGray-700 text-xl mx-6 font-bold">{{ title }}</h6>
        </div>
        <button
          @click="submit"
          class="
            bg-emerald-500
            text-white
            active:bg-emerald-600
            font-bold
            uppercase
            text-xs
            px-4
            py-2
            rounded
            shadow
            hover:shadow-md
            outline-none
            focus:outline-none
            mr-1
            ease-linear
            transition-all
            duration-150
          "
          type="button"
        >
          {{ submitBtnTitle }}
        </button>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <slot />
    </div>
  </div>
</template>
<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faChevronLeft } from "@fortawesome/free-solid-svg-icons";

library.add(faChevronLeft);

export default {
  name: "CardSettings",
  props: {
    title: {
      default: "-",
    },
    backRoute: {
      default: "admin.dashboard",
    },
    submitBtnTitle: {
      default: "Submit",
    },
    submitBtnClick: {
      type: Function,
    },
  },
  methods: {
    submit() {
      this.submitBtnClick();
    },
  },
};
</script>