<template>
  <!-- Header -->
  <div class="relative bg-emerald-600 md:pt-32 pb-32 pt-12 fixed">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <!-- Card stats -->
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "header-stats"
};
</script>
<style scoped>
.fixed {
    position: fixed;
}
</style>
