<template>
  <span
    v-if="hasError"
    class="text-sm text-red-500 font-semibold mt-2"
    field="email"
    >{{ message }}</span
  >
</template>
<script>
export default {
  name: "InputError",
  props: {
    errors: {
      type: Object,
      deafult: () => {},
    },
    field: {
      type: String,
      default: "",
    },
  },
  computed: {
    hasError() {
      return this.errors && this.errors[this.field];
    },
    message() {
      return this.errors[this.field][0];
    },
  },
};
</script>