<template>
    <button
      v-if="githubAuth"
      class="
        bg-white
        active:bg-blueGray-50
        text-blueGray-700
        font-normal
        px-4
        py-2
        rounded
        outline-none
        focus:outline-none
        mr-2
        mb-1
        uppercase
        shadow
        hover:shadow-md
        inline-flex
        items-center
        font-bold
        text-xs
        ease-linear
        transition-all
        duration-150
      "
      type="button"
      @click="login"
    >
      <img alt="..." class="w-5 mr-1" :src="github" />
      Github
    </button>
</template>

<script>
import github from "../../assets/img/github.svg";
export default {
  name: "LoginWithGithub",

  computed: {
    githubAuth: () => window.config.githubAuth,
    url: () => `/api/oauth/github`,
  },

  data: () => ({
    github,
  }),
  mounted() {
    window.addEventListener("message", this.onMessage, false);
  },

  beforeDestroy() {
    window.removeEventListener("message", this.onMessage);
  },

  methods: {
    async login() {
      const newWindow = openWindow("", this.$t("login"));

      const url = await this.$store.dispatch("auth/fetchOauthUrl", {
        provider: "github",
      });

      newWindow.location.href = url;
    },

    /**
     * @param {MessageEvent} e
     */
    onMessage(e) {
      if (e.origin !== window.origin || !e.data.token) {
        return;
      }

      this.$store.dispatch("auth/saveToken", {
        token: e.data.token,
      });

      this.$router.push({ name: "admin.dashboard" });
    },
  },
};

/**
 * @param  {Object} options
 * @return {Window}
 */
function openWindow(url, title, options = {}) {
  if (typeof url === "object") {
    options = url;
    url = "";
  }

  options = { url, title, width: 600, height: 720, ...options };

  const dualScreenLeft =
    window.screenLeft !== undefined ? window.screenLeft : window.screen.left;
  const dualScreenTop =
    window.screenTop !== undefined ? window.screenTop : window.screen.top;
  const width =
    window.innerWidth ||
    document.documentElement.clientWidth ||
    window.screen.width;
  const height =
    window.innerHeight ||
    document.documentElement.clientHeight ||
    window.screen.height;

  options.left = width / 2 - options.width / 2 + dualScreenLeft;
  options.top = height / 2 - options.height / 2 + dualScreenTop;

  const optionsStr = Object.keys(options)
    .reduce((acc, key) => {
      acc.push(`${key}=${options[key]}`);
      return acc;
    }, [])
    .join(",");

  const newWindow = window.open(url, title, optionsStr);

  if (window.focus) {
    newWindow.focus();
  }

  return newWindow;
}
</script>
