<template>
  <div>
    <!-- Navbar -->
    <nav
      class="
        absolute
        top-0
        left-0
        w-full
        z-10
        bg-transparent
        md:flex-row md:flex-nowrap
        md:justify-start
        flex
        items-center
        pt-2
      "
    >
      <div
        class="
          w-full
          mx-autp
          items-center
          flex
          justify-between
          md:flex-nowrap
          flex-wrap
          md:px-10
          px-4
        "
      >
        <!-- Brand -->
        <a
          class="
            text-white text-sm
            uppercase
            hidden
            lg:inline-block
            font-semibold
          "
          href="javascript:void(0)"
        >
          {{ $route.meta.title }}
        </a>
        <!-- User -->
        <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
          <dropdown-menu />
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="relative bg-emerald-600 md:pb-16">
      <div class="px-4 md:px-10 mx-auto w-full"></div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import DropdownMenu from "./DropdownMenu";

export default {
  components: { DropdownMenu },
  data: () => ({
    appName: window.config.appName,
  }),

  computed: mapGetters({
    user: "auth/user",
  }),

  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");

      // Redirect to login.
      await this.$router.push({ name: "login" });
    },
  },
};
</script>
