<template>
  <div class="cursor-pointer">
    <li class="items-center">
      <a
        @click="go"
        class="text-xs uppercase py-3 font-bold block"
        :class="[
          isCurrentRoute
            ? 'text-emerald-500 hover:text-emerald-600'
            : 'text-blueGray-700 hover:text-blueGray-500',
        ]"
      >
        <i
          class="fas fa-tools mr-2 text-sm"
          :class="[isCurrentRoute ? 'opacity-75' : 'text-blueGray-300']"
        ></i>
        <slot />
      </a>
    </li>
  </div>
</template>

<script>
export default {
  name: "SidebarItem",
  props: {
    route: {
      default: "dashboard",
      type: String,
      required: true,
    },
    navClass: {
      default: "dashboard",
      type: String,
      required: true,
    },
  },
  computed: {
    isCurrentRoute: function () {
      return this.navClass === this.$route.meta.nav;
    },
  },
  methods: {
    go: function () {
      if (!this.isCurrentRoute) {
        this.$router.push({ name: this.route });
      }
    },
  },
};
</script>

<style scoped>
</style>
