<template>
  <div>
    <main>
      <section class="relative w-full h-full py-10 min-h-screen">
        <div
          class="
            absolute
            top-0
            w-full
            h-full
            bg-blueGray-800 bg-no-repeat bg-full
          "
        ></div>
        <child />
      </section>
    </main>
  </div>
</template>

<script>
export default {
  name: "BasicLayout",
};
</script>
