<template>
  <div>
    <sidebar />
    <div class="relative md:ml-64 bg-blueGray-100">
      <navbar />
      <!-- <header-stats /> -->
      <div class="px-4 md:px-10 mx-auto w-full -m-24">
        <child />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "~/components/Navbar";
import Sidebar from "../components/Sidebar";
import HeaderStats from "../components/HeaderStats";

export default {
  name: "MainLayout",

  components: {
    Sidebar,
    Navbar,
    HeaderStats,
  },
};
</script>
