<template>
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="text-center mb-3">
              <h6 class="text-blueGray-500 text-sm font-bold">
                Sign in with
              </h6>
            </div>
            <div class="btn-wrapper text-center">
              <login-with-github></login-with-github>
              <button
                class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                type="button"
              >
                <img alt="..." class="w-5 mr-1" :src="google" />
                Google
              </button>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>Or sign in with credentials</small>
            </div>
            <form @submit.prevent="login" @keydown="form.onKeydown($event)">
            <div class="mb-6">
              <label class="font-bold text-gray-700 select-none" for="email">Email</label>
              <input id="email" v-model="form.email" :class="{ 'invalid': form.errors.has('email') || form.errors.has('credentials') }"
                     class="form-input block w-full text-gray-800 mt-2" name="email" type="text"
              >
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="email" />
            </div>
            <div class="mb-6">
              <label class="font-bold text-gray-700 select-none" for="password">Password</label>
              <input id="password" v-model="form.password" :class="{ 'invalid': form.errors.has('password') || form.errors.has('credentials') }"
                     class="form-input block w-full text-gray-800 mt-2" name="password" type="password"
              >
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="password" />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="credentials" />
            </div>
            <div class="flex mb-8">
              <div class="cursor-pointer mr-4">
                <label class="flex items-center cursor-pointer">
                  <input v-model="remember" type="checkbox" class="form-checkbox text-teal-500 cursor-pointe">
                  <span class="ml-2 font-medium text-gray-700 select-none cursor-pointer">Remember me</span>
                </label>
              </div>
            </div>
            <div>
              <v-button :loading="form.busy">
                {{ $t('login') }}
              </v-button>
            </div>
          </form>
          </div>
        </div>
        <div class="flex flex-wrap mt-6 relative">
          <div class="w-1/2">
            <router-link :to="{name: 'password.request'}" class="text-blueGray-200">
              <small>Forgot password?</small>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import github from "../../../assets/img/github.svg";
import google from "../../../assets/img/google.svg";
import LoginWithGithub from '../../components/LoginWithGithub.vue';

export default {
  components: { LoginWithGithub },
  middleware: 'guest',
  layout: 'basic',

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false,
    github,
    google
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'admin.dashboard' })
    }
  }
}
</script>
